@import "~common/less/variable";

.product {
  &-list {
    .ivu-card {
      border: 1px solid #fff;
      &:hover {
        border-color: @primary-color;
      }
    }
  }

  &-item {
    margin-bottom: 5px;
  }

  &-container {
    position: relative;
    cursor: pointer;
    text-align: center;

    .name {
      color: @text-color;
    }

    .price {
      color: @text-color;
      font-weight: 700;
    }

    .product-tools {
      position: absolute;
      left: 50%;
      bottom: 80px;
      transform: translateX(-50%);
      transition: all @animation-time @animation-timing-function;
      opacity: 0;
    }

    &:hover {
      .product-tools {
        opacity: 1;
      }
    }
  }
}
