@import "~common/less/variable";

.search {
  &-wrapper {
    display: flex;

    .select-wrapper {
      &:hover {
        z-index: 10;
      }
    }
  }

  &-box {
    margin-left: -1px;
    position: relative;

    .iconfont {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }

  &-input {
    padding: 0 40px 0 20px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ebebeb;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all @animation-time @animation-timing-function;

    &:hover,
    &:focus {
      border-color: @primary-color;
    }
  }
}
