@import "~common/less/variable";

.title-bar {
  padding: 0 10px 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: #fff;
  border-radius: 3px;
}
