.order-list {
  .order {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    line-height: 2;

    .img {
      margin-right: 10px;
      width: 80px;
      background: #ccc;
    }

    .text {
      flex: 1;
    }

    .proName {
      font-size: 16px;
      color: #4bb048;
    }
  }
}
